<mat-toolbar color="primary">
  <span>Webshop</span>

  <span class="example-fill-remaining-space"></span>


  <button mat-icon-button (click)="productService.updateProducts()">
    <mat-icon>refresh</mat-icon>
  </button>

  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon
      matBadge="{{cartService.getitemsCount()}}"
      matBadgePosition="above after"
      matBadgeColor="accent"
      [matBadgeHidden]="cartService.getitemsCount()===0"
    >shopping_cart</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <app-cart></app-cart>
  </mat-drawer>
  <mat-drawer-content>
    <app-products></app-products>
  </mat-drawer-content>
</mat-drawer-container>
